<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="mileshart@gmail.com">
        <network defaultCredentials="false" host="smtp.gmail.com" port="587" userName="mileshart@gmail.com" password="yvmqdkjvsqmnaoun"/>
      </smtp>
      <!--   <smtp from="helpdesk@expert-24.com">
        <network host="mail.expert-24.com" password="ov57onx" userName="webmd"  />
      </smtp>-->
    </mailSettings>
  </system.net>
</configuration>